body {
    font-size: 19px;
}
a .btn{
	
	border:1px solid black;	
	text-decoration:none;
	padding: 10px;
	margin: 5px;
}

.jumbtron{
	background-color: #2E2D88;
	color: white;
	 display: inline-block;
}

#main {
width:960px;
margin:50px auto;
font-family:raleway
}
.infotable .CRUD{
	color: red;
	text-align: center;
	padding: 5px;
}
span {
color:red
}
h2 {
background-color:#FEFFED;
text-align:center;
border-radius:10px 10px 0 0;
margin:-10px -40px;
padding:15px
}
hr {
border:0;
border-bottom:1px solid #ccc;
margin:10px -40px;
margin-bottom:30px
}
#login {
width:300px;
float:left;
border-radius:10px;
font-family:raleway;
border:2px solid #ccc;
padding:10px 40px 25px;
margin-top:70px
}
input[type=text],input[type=password] {
width:50%;
padding:10px;
margin-top:8px;
border:1px solid #ccc;
padding-left:5px;
font-size:16px;
font-family:raleway;
text-align: center;
}
input[type=submit] {
width:50%;
background-color:#FFBC00;
color:#fff;
border:2px solid #FFCB00;
padding:10px;
font-size:20px;
cursor:pointer;
border-radius:5px;
margin-bottom:15px;
text-align:center;
position: center;
}
.btn-default
{
	position: center;
}
#profile {
padding:50px;
border:1px dashed grey;
font-size:20px;
background-color:#DCE6F7
}
#logout {
float:right;
padding:5px;
border:dashed 1px gray
}
a {
text-decoration:none;
color:#6495ed
}
i {
color:#6495ed
}

.container 
{
    
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
form {
    width: 45%;
    margin: 50px auto;
    text-align: left;
    padding: 20px; 
    border: 1px solid #bbbbbb; 
    border-radius: 5px;
    text-align: center;
   
}

.container .nav{
border:1px solid black;	
	text-decoration:none;
	padding: 10px;
	margin: 5px;	
}
.container .top
{
    width: 0%;
    height: 50px;
    margin-bottom: 0px;
    margin-top: 0px;
}
#bottom{
	
	width: 100%;
	color: black;
	font-weight: lighter;
	position: relative;
	padding: 15px 0;
	height: 100px;
	text-align: center;
	
}

p{
	text-align: center;
}
.apologize{
	color: red;
}